header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 23px 5%;
  border: 1px solid #e7e7e7;
}
.head-logo a {
  text-decoration: none;
  color: #00a2dc;
  font-size: 50px;
  font-weight: 500;
}
.head-search {
  display: flex;
  width: 35%;
  height: 50px;
}
.head-search input {
  width: 100%;
  border: 1px solid #e7e7e7;
  padding: 5px 7px;
  outline: none;
}
.head-button {
  display: flex;
  width: 18%;
  height: 50px;
}
.buttons {
  padding: 5px 10px;
  width: 40%;
  margin-right: 15px;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  background: #00a2dc;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-img {
  width: 62px;
  height: 62px;
}
